.canvas{
  z-index: 2;
  position:absolute;
}
*{
	outline: 0;
}

.container{
  left:0;
  right:0;
  top:0;
  width:800px;
  margin-top:9px;
  margin:auto;
}

#overlay, #webgl{
  z-index:1;
}

html{
  background:#FFEEDD;
}

h2{
  color:#992222;
}

video{
  position: absolute; 
  left: 0; 
  right: 0;
  margin-top:20px;
  width:800px;
  height:550px;
  margin: auto; 
}

footer{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  background:rgba(255,170,170,1);
  padding: 5px;
  text-align: center;
  color:white;
  font-weight: bold;
  z-index:5;
}

#filters{
  width:90%;
  margin:auto;
  background:rgba(255,180,180,0.5);
  padding-bottom:10px;
  border-radius: 15px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:555px;
}

#filterButtons{
  display:flex;
  flex-direction:column;
}

#buttons2D{
  display:flex;
  flex-direction:column;
}

.toggle_div{
  display:flex;
  flex-direction:column;
}

.jscolor{
  display:flex;
  flex-direction:column;
}

#load_save{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:600px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 40px;
}

#save,#load,#filtres{
  background: #FFCCCC;
  border-radius: 5px;
  padding: 5px;
  border:2px outset #FFAAAA;
  min-width: 100px;
  color:#992222;
  font-weight: bold;
  font-style: italic;
}

#save:active,#load:active,#filtres:active{
    border:2px inset #FFAAAA;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.2px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(159, 170, 255, 0.37);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #FF8888;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.2px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: rgba(159, 170, 255, 0.37);
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(159, 170, 255, 0.37);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #FF8888;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: rgba(57, 80, 255, 0.37);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(159, 170, 255, 0.37);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #FF8888;
  cursor: pointer;
  height: 9.6px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(159, 170, 255, 0.37);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: rgba(159, 170, 255, 0.37);
}
